<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!--
      fredaa.mobiusservices.io is retired.
      All traffic is permanently redirected to freda.mobiusservices.io.
    -->

    <rewrite>
      <rules>

        <rule name="redirect-to-freda" stopProcessing="true">
          <match url="(.*)" />
          <action type="Redirect" url="https://freda.mobiusservices.io/{R:1}"
                  redirectType="Permanent" />
        </rule>

      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>
